:root{
    --primary-color: #086788;
    --secondary-color: #F0C808;
    --accent1-color:#07A0C3; 
    --accent2-color:#FFF1D0;
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Rubik", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color)
}

header img {
    width: 60px;
    border-radius: 35px;
    margin: 5px 50px 5px 50px;
    height: auto;
}

header nav {
    grid-column: 2/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav li{
    flex: 1 1 auto;
}

nav a {
    display: block;
    padding-left: 10px;
    color: #FFF;
    text-decoration: none;
}

nav a:hover {
    color: #F0C808;
    text-decoration: underline
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 1000px;
    
    margin: 0 auto 5px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #FFF;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 125px;
    left: -16px;
    width: 100%;
    text-align: justify;
    opacity: 0.9;
    background-color: var(--accent2-color);
    color: black;
}

.hero article img {
    float: right;
    width: 100px;
    margin: 2px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid black 2px;
    color: black;
}

.history h2 {
    grid-column: 1/4;
    text-align: center;
    font-size:xx-large;
}

.history img {
    width: 75%;
    place-self: center;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
    color: black;
}

.adventure h2 {
    grid-column: 1/6;
    text-align: center;
    margin-bottom: 1rem;
}

.adventure figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.adventure img {
    width: 150px;
    height: 150px;
    padding: 1%;
    border: solid #086788 1px;
    text-align: center;
}

.adventure figcaption {
    color: black;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid black 2px;
}

footer p {
    grid-column: 1/3;
    place-self: center;
}

footer nav {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.socialmedia img, a{
    width: 30px;
    height: auto;
    margin: 0 3px 0 3px;
}

.c-header h1 {
    text-align: center;
    position: relative;
    color:var(--primary-color);
    font-size: 225%;
    margin: 2.5rem 0 1rem;
}

.employees-profiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3rem;
}

.ceo, .ceo img{
    grid-column: 1/2;
    width: 300px;
    height: 442px;
    margin: 5px auto;
    border-radius: 10px;
    color: var(--primary-color);
    text-align: center;
    align-self: center;
}

.risk, .risk img {
    grid-column: 2/3;
    width: 250px;
    height: 442px;
    margin: 5px auto;
    border-radius: 10px;
    color: var(--primary-color);
    text-align: center;
    align-self: center;
}

.instructor, .instructor img {
    grid-column: 3/4;
    height: 442px;
    width: 250px;
    margin: 5px auto;
    border-radius: 10px;
    color: var(--primary-color);
    text-align: center;
    align-self: center;
}

.form-map {
    display: grid;
    width: 1000px;
    height: auto;
    margin: 100px auto 2rem;
    text-align: left;
    border-radius: 7px;
    grid-template-columns: 1fr 1fr;
}

.form-map h2{
    text-align: center;
    margin: 5px 0 30px 0;
}

.form {
    display: grid;
    margin: 20px 30px;
    grid-column: 1/2;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--accent2-color);
}

label {
    text-align: center;
    padding: 4px 10px;
}

.formname input, .formemail input {
    margin: 10px 0 10px 0;
    padding: 2px;
    width: 440px;
    font-size: small;
}

.formradio p {
    display: block;
    font-weight: 500;
    font-size: large;
}

.formradio {
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
}

.form input {
    align-items: end;
}

textarea {
    margin: 10px 10px 10px 1.2rem;
    padding: 2px;
    width: 440px;
    height: 150px;
    font-size: medium;
}

button {
    width: 170px;
    height: 50px;
    padding: .6rem;
    margin: 30px 0; 
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: medium;
    
    
}

button:hover {
    color: var(--secondary-color);
    font-weight: bold;
}
.phone, .map {
    grid-column: 2/3;
}