:root{
    --primary-color: #086788;
    --secondary-color: #F0C808;
    --accent1-color:#07A0C3; 
    --accent2-color:#FFF1D0;
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Rubik", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color)
}

header img {
    width: 60px;
    border-radius: 35px;
    margin: 5px 50px 5px 50px;
    height: auto;
}

header nav {
    grid-column: 2/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav li{
    flex: 1 1 auto;
}

nav a {
    display: block;
    padding-left: 10px;
    color: var(--accent2-color);
    text-decoration: none;
}

nav a:hover {
    color: #F0C808;
    text-decoration: underline
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 1000px;
    height: fit-content;
    margin: 0 auto 5px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

/* About us CSS */

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #FFF;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 125px;
    left: -16px;
    width: 100%;
    text-align: justify;
    opacity: 0.9;
    background-color: var(--accent2-color);
    color: black;
}

.hero article img {
    float: right;
    width: 100px;
    margin: 2px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid black 2px;
    color: black;
}

.history h2 {
    grid-column: 1/4;
    text-align: center;
    font-size:xx-large;
}

.history img {
    width: 75%;
    place-self: center;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
    color: black;
}

.adventure h2 {
    grid-column: 1/6;
    text-align: center;
    margin-bottom: 1rem;
}

.adventure figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.adventure img {
    width: 150px;
    height: 150px;
    padding: 1%;
    border: solid #086788 1px;
    text-align: center;
}

.adventure figcaption {
    color: black;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid black 2px;
    background-color: var(--primary-color);
}

footer p {
    grid-column: 1/2;
    place-self: center;
    color: var(--accent2-color);
}

.wireframe {
    grid-column: 2/3;
}

.wireframe a {
    color: #ffeaba;
}

footer nav {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.socialmedia img, a{
    width: 30px;
    height: auto;
    margin: 0 3px 0 3px;
}

/*Contact us CSS*/

.c-header h1 {
    text-align: center;
    position: relative;
    color:var(--primary-color);
    font-size: 225%;
    margin: 2.5rem 0 1rem;
}

.employees-profiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3rem;
}

.ceo, .ceo img{
    grid-column: 1/2;
    width: 300px;
    height: 442px;
    margin: 5px auto;
    border-radius: 10px;
    color: var(--primary-color);
    text-align: center;
    align-self: center;
}

.risk, .risk img {
    grid-column: 2/3;
    width: 250px;
    height: 442px;
    margin: 5px auto;
    border-radius: 10px;
    color: var(--primary-color);
    text-align: center;
    align-self: center;
}

.instructor, .instructor img {
    grid-column: 3/4;
    height: 442px;
    width: 250px;
    margin: 5px auto;
    border-radius: 10px;
    color: var(--primary-color);
    text-align: center;
    align-self: center;
}

.form-map {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.contact-form {
    display: grid;
    margin: 2rem 0 2rem 0;
    width: 400px;
    max-height: 600px;
    grid-template-rows: 55px 40px 40px 1fr 1fr 30px 45px;
    background-color: #d5f7ff;
    border: 1px solid black;
    border-radius: 10px;
    justify-items: center;
}

form h2 {
    grid-row: 1/2;
    margin-top: 15px;
    margin-bottom: 0;
}

.contact-name {
    grid-row: 2/3;
    align-self: flex-start;
}

.contact-name input {
    width: 350px;
    padding: 0 0 3px 3px;
    font-size: medium;
}

.contact-email {
    grid-row: 3/4;
    align-self: flex-start;
}

.contact-email input {
    width: 350px;
    padding: 0 0 3px 3px;
    font-size: medium;
}

.contact-radio {
    grid-row: 4/5;
    width: 350px;
    align-self: flex-start;
    border: 1px solid black;
    background-color: white;
}

.contact-radio p {
    font-weight: 100;
    font-style: italic;
    text-decoration: underline;
}

.radio1, .radio2, .radio3 {
    margin: 0 0 .5rem;
    justify-self: center;
    align-self: center;
    font-size: .8rem;

}

.contact-message {
    align-self: center;
    justify-content: center;
}

.contact-message textarea {
    width: 350px;
    height: 100px;
    padding: 0 0 3px 3px;
    font-size: large;
}

.contact-checkbox {
    align-self: flex-start;
    font-size: medium;
}

.contact-checkbox label {
    font-size: 15px;
}

.contact-checkbox input {
    margin: 0 5px;
}

.contact-button {
    align-self: flex-start;
}

.contact-button button {
    width: 350px;
    height: 30px;
    background-color: var(--accent2-color);
    border-radius: 10px;
}

button:hover {
    font-weight: bold;
    background-color: #ffe7ae;
}


.com-info {
    display: grid;
    justify-content: center;
}

.map h2 {
    margin: 2rem 0 1rem 0;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.map {
    justify-self: center;
}

.map iframe {
    border: 1px solid black;
}

.phone h3 {
    margin: 0 0 1rem 0;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: 100;
    font-size: larger;
}

.phone p {
    margin: 0;
    font-size: medium;
}

/* Home CSS */

.homehero h1 {
    position: relative;
    top: 50px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: #FFF;
    font-size: 50px;
    font-style: italic;
    z-index: 1;
}

.homehero {
    position: relative;
}

.homehero img {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
}

.newsletter {
    position: relative;
    display: grid;
    justify-content: center;
    z-index: 1;
}

.home-form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 2rem 0 2rem 0;
    width: 400px;
    max-height: 600px;
    border-radius: 10px;
    justify-items: center;
}

.home-name {
    grid-row: 1/2;
    align-self: center;
    margin-top: .5rem;
}

.home-name input {
    margin: 0;
    width: 250px;
    padding: 0 0 3px 3px;
    font-size: medium;
}

.home-email {
    grid-row: 2/3;
    align-self: center;
}

.home-email input {
    margin: 0;
    width: 250px;
    padding: 0 0 3px 3px;
    font-size: medium;
}

.home-checkbox {
    grid-row: 3/4;
    margin-top: .5rem;
    background-color: #ffeaba;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.home-checkbox input {
    width: 20px;
}

.home-button {
    grid-row: 4/5;
    align-self: flex-start;
    margin: .5rem 0;
}
.home-button button {
    width: 150px;
    height: 30px;
    background-color: var(--accent2-color);
    border-radius: 10px;
}

.home-button button:hover {
    font-weight: bold;
    background-color: #ffe7ae;
}

.content {
    position: relative;
    top: 200px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    z-index: 1;
}

.content figcaption {
    color: var(--accent1-color);
    font-size: larger;
}

.to-contact {
    grid-column: 1/2;
    justify-items: center;
}

.to-contact img {
    width: 300px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffe7ae;
}

.to-contact p img {
    width: 50px;
    height: 50px;
}


.to-about img {
    width: 300px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffe7ae;
}

.to-about p img {
    width: 50px;
    height: 50px;
}

.to-trips img {
    width: 300px;
    height: 300px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffe7ae;
}

.to-trips p img {
    width: 50px;
    height: 50px;
}

.offer {
    display: grid;
    grid-template-columns: 650px 350px;
    position: relative;
    top: 250px;
    width: 100%;
    height: 500px;
    margin-bottom: 350px;
    background-color: #ffefcb;
    z-index: 1;
}

.offer img {
    height: 350px;
    position: relative;
    top: 12%;
    left: 75px;
}

.offer article {
    position: relative;
    right: 200px;
    top: 25%;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #ffe097;
    text-align: center;
    font-size: medium;
    z-index: 1;
}