* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
    margin: 0 0 20px
}

nav a {
    color: white; 
    display: block; 
    padding: 5px;
    margin: 2px 2px;
}

main p {
    max-width: 840px;
    margin-left: 1rem;
    margin-top: 1rem;
}

main h1 {
    max-width: 840px;
    margin-left: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    margin: 0, 0, 1rem, 1rem;
}

aside{
    position: relative;
}

aside img {
    width: 40%;
    height: auto;
}
aside h2{
    position: absolute;
    margin: 10px 0 0 100px
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 5px;
    border-top: 1px black;
    text-align: center;
}

/* Class selector */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0);
    padding: 15px 0 15px 2rem;
    background-color: rgb(230, 230, 230);
    color: #000;
}